@page "/new-campaign"

@attribute [Authorize]
@using Newtonsoft.Json
@inject IJSRuntime js

@inject CampaignManager campaignManager

<h3>Kampagne hinzufügen</h3>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-4 mt-3">
            <EditForm Model="@campaign" OnValidSubmit="@Post">
                <DataAnnotationsValidator />
                <lable for="name">Name:</lable>
                <InputText @bind-Value="@campaign.Name" id="name" class="form-control"></InputText>
                <FormButtons />

                <ValidationSummary class="mt-3" />
            </EditForm>
        </div>
        <div class="mt-3">
            @UIMessage
        </div>
    </div>
</div>


@code {
    private Campaign campaign = new Campaign();
    string UIMessage = "";
    string controllerName = "campaign";
    string message = "";
    string name = "";

    private async void Post() {

        try {
            if (controllerName == "campaign") {
                message = JsonConvert.SerializeObject(await campaignManager.Insert(campaign));
            }
            UIMessage = "Kampagne erfolgreich erstellt";
            navManager.NavigateTo("all-campaigns");
        }
        catch (Exception ex) {
            UIMessage = ex.Message;
            StateHasChanged();
        }
    }
}
