@inject CampaignManager campaignManager

<div class="container-fluid mt-3">
    <div class="row">
        @if (campaigns != null) {
            @foreach (Campaign campaign in campaigns) {
                <div class="col-12 col-md-4 p-1 d-flex">
                    <div class="p-2 bg-dark text-light w-100" @onclick="() => OpenCampaignDetails(campaign.Id)">
                        <h4>@campaign.Name</h4>
                        <p>Zugangscode: @campaign.Id</p>
                        @if (campaign.DungeonMasters != null && campaign.DungeonMasters.Any()) {
                            <p>
                                DungeonMaster
                                <ul>
                                    @foreach (var master in campaign.DungeonMasters) {
                                        @if (master.UserName != null) {
                                            <li>
                                                @master.UserName
                                            </li>
                                        }
                                    }
                                </ul>
                            </p>
                        }
                        else {
                            <p>Kein DungeonMaster</p>
                        }
                        <button class="btn btn-secondary" @onclick="() => OpenCampaignDetails(campaign.Id)">Details</button>
                    </div>
                </div>
            }
            <div class="mt-2 p-1">
                <a class="btn btn-primary me-2" href="new-campaign">hinzufügen</a>
                @if (!ShowAll) {
                    <a href="/all-campaigns" class="btn btn-primary">Alle anzeigen</a>
                }
            </div>
        }
    </div>
</div>



@code {
    [Parameter] public bool ShowAll { get; set; }
    string controllerName = "campaign";
    private IEnumerable<Campaign>? campaigns;


    protected override async Task OnInitializedAsync() {
        await GetAllCampaigns();
        if (campaigns != null) {
            if (!ShowAll) {
                campaigns = campaigns.Count() < 3 ? campaigns.Take(campaigns.Count()) : campaigns.Take(3);
            }
        }
        
    }

    private async Task GetAllCampaigns() {
        campaigns = await campaignManager.GetAll();
    }

    private void OpenCampaignDetails(string id) {
        navManager.NavigateTo($"campaign-details/{id}");
    }
}
