@page "/new-campaign"

@attribute [Authorize]

@inject SyncRepository<Campaign> campaignManager

<h3>Kampagne hinzufügen</h3>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-4 mt-3">
            <EditForm Model="@campaign" OnValidSubmit="@Post">
                <DataAnnotationsValidator />
                <lable for="name">Name:</lable>
                <InputText @bind-Value="@campaign.Name" id="name" class="form-control"></InputText>
                <FormButtons />

                <ValidationSummary class="mt-3" />
            </EditForm>
        </div>
        <div class="mt-3">
            @UIMessage
        </div>
    </div>
</div>


@code {
    [CascadingParameter]
    public CascadingAppState appState {get; set; }
    private Campaign campaign = new Campaign();
    string UIMessage = "";
    string name = "";


    protected override async Task OnInitializedAsync() {
        await appState.EnsureCampaigns();
    }

    private async void Post() {

        try {
            campaign = await campaignManager.Insert(campaign);
            appState.Campaigns.Add(campaign);
            UIMessage = "Kampagne erfolgreich erstellt";
            navManager.NavigateTo("all-campaigns");
        }
        catch (Exception ex) {
            UIMessage = ex.Message;
            StateHasChanged();
        }
    }
}
