@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <ul class="navbar-nav mb-2 mb-md-0" b-x0zu83iddt>
            <li class="nav-item" b-x0zu83iddt>
                <NavLink class="nav-link" href="authentication/profile">
                    <span class="oi oi-person" aria-hidden="true" b-x0zu83iddt></span> Dein Konto
                </NavLink>
            </li>
            <li class="nav-item" b-x0zu83iddt>
                <NavLink class="nav-link" @onclick="BeginLogOut">
                    <span class="oi oi-account-logout" aria-hidden="true" b-x0zu83iddt></span> Log out
                </NavLink>
            </li>
        </ul>       
    </Authorized>
    <NotAuthorized>
        <ul class="navbar-nav" b-x0zu83iddt>
            <li class="nav-item" b-x0zu83iddt>
                <NavLink class="nav-link" href="authentication/login">
                    <span class="oi oi-account-login" aria-hidden="true" b-x0zu83iddt></span> Anmelden
                </NavLink>
            </li>
        </ul>
        
    </NotAuthorized>
</AuthorizeView>

@code{
    private void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}
