@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <ul class="navbar-nav mb-2 mb-md-0">
            <li class="nav-item">
                <a class="btn btn-link" href="authentication/profile">Dein Konto</a>
            </li>
            <li class="nav-item">
                <button class="btn btn-link" @onclick="BeginLogOut">Log out</button>
            </li>
        </ul>       
    </Authorized>
    <NotAuthorized>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="btn btn-link" href="authentication/login">Anmelden</a>
            </li>
        </ul>
        
    </NotAuthorized>
</AuthorizeView>

@code{
    private void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}
