@page "/"

<PageTitle>Index</PageTitle>

<h1>SADnD</h1>
<h2>Support-App für Dungeons & Dragons</h2>

<div class="mt-3 p-2 border border-bottom border-dark-subtle">
    <h3>Deine Kampagnen</h3>
    <CampaignView />
</div>

<div class="mt-3 p-2 border border-bottom border-dark-subtle">
    <h3>Deine Charaktere</h3>
    <CharacterView />
</div>

